<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: head"/>

<body>
<header th:replace="common/header :: navigation"/>


<!-- Review form-->
<div th:fragment="review_form (mediaID, mediaType)" class="container w-75 float-left">
    <div class="float-left w-75">
        <h3>Write your own review:</h3>
        <form id="review" action="/review" method="post">
            <div class="row">
                <div class="form-group col  mb-2">
                    <label>Rating:</label>
                    <div class="form-group col form-group-inline">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="rating1">1</label>
                            <input class="form-check-input" type="radio" id="rating1" th:name="rating" th:value="1"/>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="rating2">2</label>
                            <input class="form-check-input" type="radio" id="rating2" th:name="rating" th:value="2"/>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="rating3">3</label>
                            <input class="form-check-input" type="radio" id="rating3" th:name="rating" th:value="3"/>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="rating4">4</label>
                            <input class="form-check-input" type="radio" id="rating4" th:name="rating" th:value="4"/>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="rating5">5</label>
                            <input class="form-check-input" type="radio" id="rating5" checked="checked" th:name="rating" th:value="5"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label>Comment:</label>
                        <textarea class="form-control w-50" rows="5" id="reviewText" th:name="comment"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <input type="hidden" th:value="${mediaID}" th:name="mediaID"/>
                        <input type="hidden" th:value="${mediaType}" th:name="mediaType"/>
                <button class="btn btn-dark w-25 mt-1" type="submit">Post</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Reviews Display-->
<div class="container float-left w-75" th:fragment="review_display(mediaID, mediaType)">
    <h3>Other reviews:</h3>
    <div th:if="!${#lists.isEmpty(reviews)}" class="w-75">
    <ul class="list-group w-50">
        <li class="list-group-item" th:each="review : ${reviews}">
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">   <p><span th:text="${review.getCreator().getUsername()}"></span> rated: <span th:text="${review.getRating()}"></span></p></li>

                <li class="list-group-item"> <p class="text-truncate" th:text="${review.getText()}"></p></li>
            </ul>
        </li>
    </ul>
        <form th:action="@{'/media/detail/' + ${page}}" method="get">
            <div class="row">
                <div class="form-group col">
                    <input type="hidden" th:value="${mediaID}" th:name="mediaID"/>
                    <input type="hidden" th:value="${mediaType}" th:name="mediaType"/>
                    <button class="btn btn-dark w-25 mt-1" type="submit">Next Page</button>
                </div>
            </div>
        </form>
</div>
</div>

</body>
</html>