<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: head"/>

<body>
<header th:replace="common/header :: navigation"/>
<div th:replace="searchStart :: Searchbar"/>

<div class="container w-50 pt-5">
    <table class="table table-dark table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th  scope="col">Director</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="Movie : ${Movies}">
            <th scope="row"><label th:text="${Movie.getBaseInformation().getTitle()}"/></th>
            <td><label th:text="${Movie.getDirector()}"/></td>
            <td><form th:action="@{/media/detail/0}" th:method="get">
                <input type="hidden" th:value="${Movie.getBaseInformation().getMediaID()}" th:name="mediaID"/>
                <input type="hidden" th:value="${Movie.getBaseInformation().getMediaType()}" th:name="mediaType"/>
                <button type="submit" class="btn btn-dark">Details</button></form></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>